/* Reset des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles du corps */
body {
  font-family: Arial, sans-serif;
}

/* Styles de l'en-tête */
header {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* Styles de la partie supérieure du header */
.top-header {
  width: 100%;
  justify-content: space-between;
  text-align: center; /* Centrer le texte */
  display: flex;
  position: relative; /* Position relative pour les pseudo-éléments */
}

img[alt="responsiv logo"] {
  display: none;
}
/* Ajout d'une ligne entre les deux parties du header */
.top-header::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Ajustez cette valeur pour contrôler la distance entre la ligne et le titre h1 */
  left: 50%;
  transform: translateX(-50%);
  height: 2px; /* Hauteur de la ligne */
  width: calc(100% - 40%); 
  background-color: white; /* Couleur de la ligne */
}
/* Styles du conteneur du sélecteur */
.select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles du sélecteur de drapeau */
#flag-selector {
  background-color: transparent;
  border: none;
  color: white;
}

/* Styles des options du sélecteur de drapeau */
#flag-selector option {
  background-color: black;
  border: none;
}

/* Styles de l'image sélectionnée */
.selected-image {
  margin-left: 20px;
}

/* Styles de l'image sélectionnée */
#selected-image {
  width: 30px;
  height: 25px;
  object-fit: cover;
}

/* Styles du titre principal */
h1 {
  margin: 0;
  text-align: center; /* Centrer le texte */
  width: 100%; /* Pour éviter le débordement */
}

/* Styles du bouton */
header button {
  background-color: #A1CD22;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles du bouton au survol */
header button:hover {
  background-color: #0056b3;
}

/* Suppression de la bordure du sélecteur de drapeau lors du changement de l'image sélectionnée */
#flag-selector:focus {
  outline: none;
}


.botom-header {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
}

/* Style pour la navigation principale */
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

/* Style pour les éléments de la liste de navigation principale */
.menu li {
  margin: 0 10px;
  position: relative; /* Positionnement relatif pour les sous-menus */
}

/* Style pour les liens de la liste de navigation principale */
.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

/* Style pour les liens de la liste de navigation principale au survol */
.menu li a:hover {
  color: #A1CD22; /* Couleur de fond au survol */
  border-bottom: solid 2px #A1CD22;
}

/* Style pour les sous-menus */
.submenu {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: black; /* Couleur de fond */
  z-index: 1;
  left: 0; /* Aligner les sous-menus à gauche */
  top: 100%; /* Placer les sous-menus en dessous du menu principal */
}

/* Afficher les sous-menus au survol */
.menu li:hover .submenu {
  display: block;
}

/* Style pour les éléments des sous-menus */
.submenu li {
  margin: 0;
}

/* Style pour les liens des sous-menus */
.submenu li a {
  color: #fff;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

/* Style pour les liens des sous-menus au survol */
.submenu li a:hover {
  color: #A1CD22;
  border-bottom: solid 1px #A1CD22;
}
/* Styles de l'article */
/* Styles de l'article */
article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #008948;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 12em;
}

/* Styles pour le texte */
.text {
  width: 50%; /* Prend la moitié de la largeur de l'article */
  margin-left: 15%;
}

.text h3 {
  text-align: center; /* Centrer le titre */
  margin-bottom: 10px; /* Ajout d'un espace en bas du titre */
}

/* Styles pour le bouton */
.link {
  text-align: center;
  width: 50%; /* Prend la moitié de la largeur de l'article */
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

.link button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em; 
  transition: background-color 0.3s; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une légère ombre */
 
}

.link button:hover {
  background-color: #0056b3;
}
#slider-menu {
  position: fixed;
  top: 0;
  left: -300px; /* Cache le menu par défaut */
  width: 300px;
  height: 100%;
  background-color: black;
  padding-top: 50px;
  z-index: 1000;
  transition: left 0.3s ease;
}

#slider-menu.active {
  left: 0; /* Affiche le menu lorsque la classe active est ajoutée */
}

#slider-menu ul {
  padding-left: 20px;
}

#slider-menu ul.menu li {
  margin-bottom: 20px;
}

#slider-menu ul.submenu {
  display: none;
}

#slider-menu ul.submenu.active {
  display: block;
}
