.elements{
    display: flex;
    color: #ed6807;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.elements > form {
    display: flex;
    flex-direction: row;
    gap:60px;
}
label{
    display: flex;
    
}
label[for="E-mail"],[for="fname"],[for="text"]{
    margin-top: 7%;
}
input{
    display: flex;
    background-color: #d9d9d9;
    width: 310px;
    height: 40px;
}

textarea{
    display: flex;
    background-color: #d9d9d9;
    width: 630px;
    height: 390px;
}


input[type="submit"]{
    background-color: #62762a;
    margin-top: 10%;
    justify-content: center;
    float: right;
}

.map{
    display: block;
    justify-content: center;
    width: 1080px;
    height: 500px;
    flex-direction: row;
    filter: grayscale(100%);
}

h2{
    color: #ed6807;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 2%;
}
