footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #1C1C1C;
  padding-top: 2.5%;
}

#footerup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#divcontact {
  background-color: aliceblue;
}

#divsocial {
  background-color: rgb(98, 114, 41);
}

#footerdown {
  background-color: rgb(226, 72, 72);
}

.footerup {
  text-align: center;
  padding: 2rem;
  height: calc(3em * 6 + 4.17rem);
  background-color: #1C1C1C;
  color: #ED6807;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerup > iframe {
  height: calc(3em * 6 + 4.17rem);
}

.map {
  margin-right: 1.67%;
  margin-bottom: 1.74%;
  padding: 0.67%;
  width: 25%;
  flex-grow: 1;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.infsocial {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.infsocial::before {
  content: "";
  display: block;
  position: absolute;
  width: 0.08%; /* Augmente la largeur de la ligne à 2 pixels */
  height: calc(3em * 5.5 + 4.17rem); /* Réduit la hauteur de la ligne de 40 pixels */
  background-color: #ffffff;
}

.informations {
  text-align: left;
  margin: 1.74% auto;
  width: 100%;
  flex: 0 0 auto;
  padding: 1.74%;
  margin-left: 5.56%;
}

.informations::after {
  content: "";
  display: block;
  width: 44.44%;
  height: 0.23rem;
  background-color: #ccc;
  margin-top: 2.5%;
}

.informations h1 {
  font-size: 1.17rem;
  margin-bottom: 0.69rem;
}

.liens {
  display: flex;
  flex-direction: column; /* Disposer les éléments en colonne */
  margin-top: 1.74%;
  align-items: left;
}

.liens a {
  display: inline-block;
  margin-right: 1.67%;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 1.74%;
}

.follow-us {
  text-align: left;
  margin: 1.74% auto;
  width: fit-content;
  margin-top: 1.74%;
  justify-content: space-between;
  padding: 1.74%;
  margin-left: 5.56%;
}

.follow-us h2 {
  font-size: 1.17rem;
  margin-bottom: 0.69rem;
}

.follow-us img {
  width: 100%;
}

.reseaux-sociaux {
  list-style: none;
  margin-top: 1.23%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.reseaux-sociaux li {
  display: inline-block;
  margin: 0 1.67%;
  height: fit-content;
  width: fit-content;
}

.reseaux-sociaux a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  line-height: 2rem;
  text-align: center;
}

.reseaux-sociaux img:hover {
  filter: grayscale(1) brightness(0.6) sepia(1) hue-rotate(30deg) saturate(6);
}

.copy {
  background-color: #1C1C1C;
  color: #fff;
  padding: 1.74%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc((3em * 6 + 4.17rem) / (431 / 151));
}

.footerup::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 25.98%;
  left: 4em;
  width: 90%; /* Augmente la largeur de la ligne à 2 pixels */
  height: 0.23rem; /* Réduit la hauteur de la ligne de 40 pixels */
  background-color: #ffffff;
}

.logo {
  display: inline-block;
  padding: 0.67%;
}

.logo img {
  width: 9.26%;
  height: auto;
}

.copytext {
  text-align: center;
  margin: 1.74% auto;
  flex: 0 0 auto;
  padding: 1.74%;
}

p {
  font-size: 0.875rem;
  margin-bottom: 1.74%;
}

@media (max-width: 1169px) {
  .footerup {
    flex-direction: column;
  }

  .map {
    width: 60%;
  }

  .infsocial {
    flex-direction: row;
    justify-content: space-between;
  }

  .informations::after {
    content: "";
    display: block;
    width: 0.23rem;
    height: 44.44%;
    background-color: #ccc;
  }

  .infsocial::before {
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    height: 0.08%;
    background-color: #ffffff;
  }

  .informations {
    width: fit-content;
  }

  .follow-us {
    width: fit-content;
  }
}