footer{
    position:static;
    bottom: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1C1C1C;
    padding-top: 30px;
  }
  #footerup{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #divcontact{
    background-color: aliceblue;
  }
  #divsocial{
    background-color: rgb(98, 114, 41);
  }
  #footerdown{
    background-color: rgb(226, 72, 72);
  }
  .footerup{
    text-align: center;
    padding: 3px;
    height: calc(3em * 6 + 64px);
    background-color: #1C1C1C;
    color: #ED6807;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footerup > iframe {
    height: calc(3em * 6 + 64px);
  }
  .map {
    margin-right: 20px;
    margin-bottom: 25px;
    padding: 2%;
    flex-grow: 1;
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .infsocial {
    flex-grow: 1;
  }
  .infsocial::before {
    content: "";
    display: block;
    position:absolute;
    width: 1px; /* Augmente la largeur de la ligne à 2 pixels */
    margin-top: 50px;
    height: calc(3em * 5.5 + 64px); /* Réduit la hauteur de la ligne de 40 pixels */
    background-color: #ffffff;
}
  .informations {
    text-align: left;
    margin: 20px auto;
    width: 100%;
    flex: 0 0 auto;
    padding: 20px;
    margin-left: 10%;

}
.informations::after {
  content: "";
  display: block;
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin-top: 20px;
}

.informations h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.liens {
    display: flex;
    flex-direction: column; /* Disposer les éléments en colonne */
    margin-top: 20px;
    align-items: left;
}

.liens a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
}

  .follow-us {
    text-align: left;
    margin: 20px auto;
    width: fit-content;
    margin-top: 20px;
    flex: 0 0 auto;
    padding: 20px;
    margin-left: 10%;
}

.follow-us h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.reseaux-sociaux {
    list-style: none;
    margin-top: 14px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.reseaux-sociaux li {
    display: inline-block;
    margin: 0 10px;
    height: fit-content;
    width: fit-content;
}

.reseaux-sociaux a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    line-height: 32px;
    text-align: center;
}

.reseaux-sociaux img:hover{
    filter: grayscale(1) brightness(0.6) sepia(1) hue-rotate(30deg) saturate(6);;
}


.copy {
  background-color: #1C1C1C;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  height: calc((3em * 6 + 64px)/(431/151));

}
.footerup::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 353px;
  left: 4em;
  width: 90%; /* Augmente la largeur de la ligne à 2 pixels */
  height: 0.5px; /* Réduit la hauteur de la ligne de 40 pixels */
  background-color: #ffffff;
}

.logo {
  display: inline-block;
  padding: 1%;
}

.logo img {
  width: 100px;
  height: auto;
}
.copytext{
  text-align: center;
  margin: 20px auto;
  flex: 0 0 auto;
  padding: 20px;
}
p {
  font-size: 14px;
  margin-bottom: 10px;
}