.produits {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5%;
}

.produit {
    position: relative; /* Nouveau ! */
    display: flex;
    flex-direction: column;
    width: 30%; /* Ajuster la largeur selon vos besoins */
    text-align: center;
    margin: 1%;
}

.produit img {
    width: 100%;
    height: auto;
}

.produit h3 {
    margin-top: 0.3rem;
}

.produit p {
    margin-top: 0.15rem;
}

.produit .prix {
    font-weight: bold;
    color: #e74c3c;
}

.produit .description {
    display: none;
    position: absolute; /* Nouveau ! */
    width: 100%; /* Nouveau ! */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Nouveau ! */
    color: white; /* Nouveau ! */
    padding:1rem; /* Nouveau ! */
    font-size: 1rem;
    align-items: center;
}

.produit:hover .description {
    display: flex; /* Afficher au survol */
}