@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');

/* Reset des styles par défaut */
@media (min-width:1350px){
  body {
    --column-count: 12; /* Example value, adjust as needed */
    --grid-gap: 24px;   /* Example value, adjust as needed */
    box-sizing: border-box;
  }
}
  
  /* Styles du corps */
  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  
  /* Styles de l'en-tête */
  header {
    background-color: #1C1C1C;
    color: white;
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
  }
  
  /* Styles de la partie supérieure du header */
  .top-header {
    width: 100%;
    justify-content: space-between;
    height: calc(1em * 1.71 + 64px);
    font-size: 16px;
    line-height: 1.56;
    font-weight: 400;
    text-align: center; /* Centrer le texte */
    display: flex;
    padding: 24px 32px;
    contain: size;
    position: relative; /* Position relative pour les pseudo-éléments */
  }

  .top-header > * {
    height: 100%;
  }
  img[alt="responsiv logo"] {
    display: none;
  }
  /* Ajout d'une ligne entre les deux parties du header */
  .top-header::after {
    content: '';
    position: absolute;
    bottom: -0px; /* Ajustez cette valeur pour contrôler la distance entre la ligne et le titre h1 */
    left: 50%;
    transform: translateX(-50%);
    height: 0.5px; /* Hauteur de la ligne */
    width: calc(100% - 10%); 
    background-color: white; /* Couleur de la ligne */
  }
  .header-title {
    font-family: "Andada Pro";
    font-weight: inherit;
    font-size: inherit;
  }
  .header-title > h1 {
    font-weight: normal;
  }

  /* Styles du conteneur du sélecteur */
  .select-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styles du sélecteur de drapeau */
  #flag-selector {
    background-color: transparent;
    border: none;
    color: white;
  }
  
  /* Styles des options du sélecteur de drapeau */
  #flag-selector option {
    background-color:#1C1C1C;
    border: none;
  }
  
  /* Styles de l'image sélectionnée */
  .selected-image {
    margin-left: 20px;
  }
  
  /* Styles de l'image sélectionnée */
  #selected-image {
    width: 30px;
    height: 25px;
    object-fit: cover;
  }
  
  /* Styles du bouton */
  header button {
    background-color: #A1CD22;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styles du bouton au survol */
  header button:hover {
    background-color: #0056b3;
  }
  
  /* Suppression de la bordure du sélecteur de drapeau lors du changement de l'image sélectionnée */
  #flag-selector:focus {
    outline: none;
  }
  
  
  .botom-header {
    width: 100%;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
  }
  
  /* Style pour la navigation principale */
  .menu {
    list-style-type: none;
    display: flex;
    width: fit-content;
    align-items: center;
  }
  
  /* Style pour les éléments de la liste de navigation principale */
  .menu li {
    margin: 0 15px;
    position: relative; /* Positionnement relatif pour les sous-menus */
  }
  
  /* Style pour les liens de la liste de navigation principale */
  .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
    display: block;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 2px #1C1C1C;
  }
  
  /* Style pour les liens de la liste de navigation principale au survol */
  .menu li a:hover {
    color: #A1CD22; /* Couleur de fond au survol */
    border-bottom: solid 2px #A1CD22;
  }
  
  /* Style pour les sous-menus */
  .submenu {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color:#1C1C1C; /* Couleur de fond */
    z-index: 1;
    left: 0; /* Aligner les sous-menus à gauche */
    top: 100%; /* Placer les sous-menus en dessous du menu principal */
  }
  
  /* Afficher les sous-menus au survol */
  .menu li:hover .submenu {
    display: block;
  }
  
  /* Style pour les éléments des sous-menus */
  .submenu li {
    margin: 0;
  }
  
  /* Style pour les liens des sous-menus */
  .submenu li a {
    color: #fff;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
  }
  
  /* Style pour les liens des sous-menus au survol */
  .submenu li a:hover {
    color: #A1CD22;
    border-bottom: solid 1px #A1CD22;
  }
  
  /* Styles pour le texte */
  .text {
    width: 50%; /* Prend la moitié de la largeur de l'article */
    margin-left: 15%;
  }
  
  .text h3 {
    text-align: center; /* Centrer le titre */
    margin-bottom: 10px; /* Ajout d'un espace en bas du titre */
  }
  
  /* Styles pour le bouton */
  .link {
    text-align: center;
    width: 50%; /* Prend la moitié de la largeur de l'article */
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
  }
  
  .link button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em; 
    transition: background-color 0.3s; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ajout d'une légère ombre */
   
  }
  
  .link button:hover {
    background-color: #0056b3;
  }
  #slider-menu {
    position: fixed;
    top: 0;
    left: -300px; /* Cache le menu par défaut */
    width: 300px;
    height: 100%;
    background-color: black;
    padding-top: 50px;
    z-index: 1000;
    transition: left 0.3s ease;
  }
  
  #slider-menu.active {
    left: 0; /* Affiche le menu lorsque la classe active est ajoutée */
  }
  
  #slider-menu ul {
    padding-left: 20px;
  }
  
  #slider-menu ul.menu li {
    margin-bottom: 20px;
  }
  
  #slider-menu ul.submenu {
    display: none;
  }
  
  #slider-menu ul.submenu.active {
    display: block;
  }
  #schedule-tour-popup-button{
    border-width: 0; box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset; font-weight: 600; position: relative; transition: 0.3s ease-in-out 0s;background-color: #A1CD22;color: #ffffff;border-radius: 6px;font-size: 18px;line-height: 1.33;-moz-user-select: none;cursor: pointer;display: inline-block;margin-bottom: 0;text-align: center;vertical-align: middle;white-space: nowrap;padding:11px 16px;}
  #schedule-tour-popup-button:hover {
     background-color: #363636 }


  @media only screen and (max-width: 800px) {
    .botom-header {
      display: none;
    }
    #schedule-tour-popup-button{
      display: none;
    }
    img[alt="responsiv logo"] {
      display: block;
      width: 20px;
      height: 20px;
    }
  
    nav {
      display: flex;
      flex-wrap: wrap;
      padding: 10px; /* Ajout de remplissage pour l'espace autour de la navigation */
      justify-content: center; /* Centrer la navigation horizontalement */
      align-items: center; /* Centrer la navigation verticalement */
    }
  
    nav ul.menu {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; /* Répartir uniformément les éléments de la navigation */
    }
  
    nav ul.menu li {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
  
    nav ul.menu li a {
      display: block;
      padding: 10px 0;
      text-align: center;
      width: 100%; /* Ajuster la largeur des liens pour occuper toute la largeur du conteneur */
      color: #ccc; /* Couleur du texte des liens */
      text-decoration: none; /* Supprimer la soulignement par défaut */
    }
  
    nav ul.menu li ul.submenu {
      display: none;
      flex-wrap: wrap;
      position: absolute;
      top: 100%; 
      left: 0;
      width: 100%;
      background-color: black ; /* Couleur de fond pour le sous-menu */
  
    }
  
    nav ul.menu li:hover ul.submenu {
      display: block;
    }
  
    nav ul.menu li ul.submenu li {
      display: block;
      width: 100%;
      border-bottom: 1px solid #ccc; /* Ligne de séparation entre les éléments du sous-menu */
    }
  
    nav ul.menu li ul.submenu li:last-child {
      border-bottom: none; /* Supprimer la ligne de séparation pour le dernier élément */
    }
  
    nav ul.menu li ul.submenu li a {
      display: block;
      padding: 10px 0;
      text-align: center;
      color: #ccc; /* Couleur du texte du sous-menu */
      text-decoration: none; /* Supprimer la soulignement par défaut */
    }
    section{
      display: block  ;
    }
  }

  /* The Modal (background) */
.schedule-tour-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 10vh; /*padding-top: 100px;  Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.schedule-tour-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  max-width: 450px;
  border-radius: 6px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }
  to {
      top: 0;
      opacity: 1
  }
}

@keyframes animatetop {
  from {
      top: -300px;
      opacity: 0
  }
  to {
      top: 0;
      opacity: 1
  }
}

.self_schedule_popup_close {
  float: right;
  position: absolute;
  text-align: right;
  width: 95%;
}

.schedule-tour-modal .modal-body {
  padding: 0px;
}

.schedule_popup_close {
  color: #FFFFFF;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  position: relative;
  margin-top: 4px;
}

.schedule-tour-modal-body {
  height: 450px;
  background: url('../img/gif/chargement.gif') no-repeat;
  background-size: 48px 48px;
  background-position: center;
  max-height:600px;
}

#selfATourDateSlider {
  padding: 0px 15px !important;
}

.schedule-tour-modal .embed-container {
  position: relative;
  border-radius: 6px;
  height: 100%;
  max-height: 450px;
  overflow: hidden;
  max-width: 100%;
}

.schedule-tour-modal .embed-container iframe, .schedule-tour-modal .embed-container object, .schedule-tour-modal .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.schedule_popup_close_link {
  color: #A1CD22;
  float: right;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.clearboth {
  clear: both;
}
  