.pratical-infos-img {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pratical-infos-img img {
    width: 100%;
    height: auto;
}